<!doctype html>
<html>
<head>
  <script type="text/javascript" src="{{STATIC_URL}}tile/jquery.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}tile/jquery.cookie.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}tile/native.History.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}tile/tile.js"></script>
  <script>
  $(function(){
    $("a").live('click', function(e) {
      e.preventDefault();
      tile.get($(this).attr("href"), function(context){
        if (context) {
          $("span").text(context["message"]);
        }
      });
    });
  });
  </script>
</head>
<body>
  {% block content %}
  Hello World!
  <div id="container" style="border:1px black solid;">
    Message inside container
  </div>
  <a href="{% url redirect message='from_index' %}">Test</a>
  {% endblock %}
  <p>
  <span>Message outside container</span>
</body>
</html>

