<!doctype html>
<html>
<head>
  <script type="text/javascript" src="{{STATIC_URL}}tile/jquery.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}tile/jquery.cookie.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}tile/native.History.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}tile/tile.js"></script>
  <script>
  $(function(){
    function onclick(e) {
      e.preventDefault();
      tile.get($(this).attr("href"), function(context){
        $("a").click(onclick);
        if (context) {
          $("span").text(context["message"]);
        }
      });
    }
    $("a").click(onclick);

    function onsubmit(e) {
      e.preventDefault();
      tile.post($(this).attr("action"), $(this).serializeObject(), 
        function(context){
          if (context) {
            $("span").text(context["message"]);
          }
      });
    }
    $("form").submit(onsubmit);

  });
  </script>
</head>
<body>
  {% block content %}
  Hello World!
  <div id="container" style="border:1px black solid;">
    Message inside container
  </div>
  <a href="{% url redirect message='from_index' %}">Test</a>
  {% endblock %}
  <p>
  <span>Message outside container</span>

  <form method="post" action="{% url test message=message|default:'post'|add:'1' %}">
    {% csrf_token %}
    <input type="submit"></input>
  </form>

</body>
</html>

